{{#if addNewQuestion}}
  <h1>New Question</h1>
    <div>
      <form>
        <div class="form-group">
          <label for="title">Topic</label>
          {{input value=title id="title"}}
        </div>

        <div class="form-group">
          <label for="description">Description</label>
          {{textarea rows=3 value=description id="description"}}
        </div>

          <div class="form-group">
            <label for="author">Author</label>
            {{input value=author id="author"}}
          </div>

          <button {{action 'save'}} class="btn btn-primary">Ask The Lunatics</button>
      </form>
    </div>
{{else}}
  <button {{action 'questionFormShow'}} class="btn btn-danger">Make A Question</button>
{{/if}}
{{yield}}
