

<div class="jumbotron">
  <li>
    <strong><p>{{question.title}}</p></strong>
      {{#if viewQuestion}}
        <div class="well">
          <h4 {{action "questionHide"}}>{{question.description}} -{{question.author}}</h4>
        </div>
        {{update-question question=question update="update"}}
        {{else}}
    <button class="btn btn-primary" {{action 'showQuestion'}}>View Question</button><br>
      {{/if}}
      <br><button class="btn btn-danger"{{action 'delete' question}}>Delete Question</button>
      <br><br>
      {{#link-to 'answer' question.id class="btn btn-warning"}}Answer Question{{/link-to}}
  </li>
</div>
{{yield}}
