

<div class="jumbotron">
  <li>
    <strong><p>{{question.title}}</p></strong>
      {{#if viewQuestion}}
        <h4 {{action "questionHide"}}>{{question.question}}</h4>
        {{update-question question=question update="update"}}
        {{else}}
    <button class="btn btn-primary" {{action 'showQuestion'}}>View Question</button>
      {{/if}}

    <button class="btn btn-danger"{{action 'delete' question}}>Delete Question</button>
  </li>
</div>
{{yield}}
